.header {
  display: flex;
  justify-content: space-between;
}

.title,
.scoreBoard {
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.title {
  font-size: 2em;
}
.scoreBoard {
  font-size: 1em;
}
